{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Public Search Page</h1>
</div>

<form class="form" method="POST" action="/search/result">
  <h3 class="form-heading">
    Search Filter
  </h3>

  {{ form.fromCity(class_ = 'form-control first-input', placeholder = form.fromCity.label.text, required = true, autofocus = true) }}
  {{ form.fromAirport(class_ = 'form-control last-input', placeholder = form.fromAirport.label.text, required = true) }}
  {{ form.fromDate(class_ = 'form-control last-input', placeholder = form.fromDate.label.text, required = true) }}
  {{ form.toCity(class_ = 'form-control last-input', placeholder = form.toCity.label.text, required = true) }}
  {{ form.toAirport(class_ = 'form-control last-input', placeholder = form.toAirport.label.text, required = true) }}
  {{ form.toDate(class_ = 'form-control last-input', placeholder = form.toDate.label.text, required = true) }}

  <input type="submit" value="Search Flight" class="btn btn-primary btn-lg btn-block" >

</form>

<div>
  <h3>Search Results will be listed below</h3>

  {% if results %}
    <table class="table">
    <thead>
      <tr>
        <th scope="col">Airline Name</th>
        <th scope="col">Flight Number</th>
        <th scope="col">Departure Airport</th>
        <th scope="col">Departure Time</th>
        <th scope="col">Arrival Airport</th>
        <th scope="col">Arrival Time</th>
        <th scope="col">Price</th>
        <th scope="col">Status</th>
        <th scope="col">airplane_id</th>
      </tr>
    </thead>
    <tbody>
    {% for line in results %}
    <tr>
      <td>{{line.airline_name}}</td>
      <td>{{line.flight_num}}</td>
      <td>{{line.departure_airport}}</td>
      <td>{{line.departure_time}}</td>
      <td>{{line.arrival_airport}}</td>
      <td>{{line.arrival_time}}</td>
      <td>{{line.price}}</td>
      <td>{{line.status}}</td>
      <td>{{line.airplane_id}}</td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}

  {% if error %}
      <p class="error"><strong>Error:</strong> {{error}}</p>
  {% endif %}

{% endblock %}
