{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Staff {{username}}'s Homepage</h1>
</div>
<div>
  <h3>My Airline's Flight(s)</h3>

   <table class="table">
    <thead>
      <tr>
        <th scope="col">Airline Name</th>
        <th scope="col">Flight Number</th>
        <th scope="col">Departure Airport</th>
        <th scope="col">Departure Time</th>
        <th scope="col">Arrival Airport</th>
        <th scope="col">Arrival Time</th>
        <th scope="col">Price</th>
        <th scope="col">Status</th>
        <th scope="col">airplane_id</th>
      </tr>
    </thead>
    <tbody>
    {% for line in data %}
    <tr>
      <td>{{line.airline_name}}</td>
      <td>{{line.flight_num}}</td>
      <td>{{line.departure_airport}}</td>
      <td>{{line.departure_time}}</td>
      <td>{{line.arrival_airport}}</td>
      <td>{{line.arrival_time}}</td>
      <td>{{line.price}}</td>
      <td>{{line.status}}</td>
      <td>{{line.airplane_id}}</td>
    </tr>
    {% endfor %}
  </table>
</div>
<div>
  <form class="form" method="POST" action="/staffHome">
  <h3 class="form-heading">
    Change Flight Status
  </h3>

  {{ form.flight_num(class_ = 'form-control first-input', placeholder = form.flight_num.label.text, required = true, autofocus = true) }}
  {{ form.status(class_ = 'form-control last-input', placeholder = form.status.label.text, required = true) }}

  <input type="submit" value="Change Status" class="btn btn-primary btn-lg btn-block" >
  </form>
</div>
<br/>
<div>
  <p class="pull-none"><a href="{{ url_for('staffCreateFlight') }}">Create a Flight</a></p>
  <br/>
  <p class="pull-none"><a href="{{ url_for('staffCreateAirplane') }}">Create an Airplane</a></p>
  <br/>
  <p class="pull-none"><a href="{{ url_for('staffCreateAirport') }}">Create an Airport</a></p>
  <br />
  <p class="pull-none"><a href="{{ url_for('staffViewAgent') }}">View Agents</a></p>

  <br/>

</div>

{% endblock %}